@use "../../../variables" as *;

.table {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: end;
  row-gap: 2vh;
}
.items {
  display: grid;
  grid-template-rows: repeat(4, 10vh);
}

.explore {
  display: flex;
  justify-content: flex-end;
  color: #acadb9;
}

@media screen and (max-width: $max-width-mobile) {
  .explore {
    justify-content: center;
  }
}
