@use "../../variables.module" as *;
@use "src/colors.module" as *;

.table {
  background: $color-custom-black;
  color: $color-custom-light-grey;
  display: flex;
  flex-direction: column;
  padding: 80px 60px;
}

.line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1.5px solid $color-custom-light-grey;
}

.line2 {
  display: flex;
  flex-direction: row;
  margin: 60px 10px 0 10px;
  justify-content: space-between;
}

.rights {
  font-size: 17px;
  width: 286px;
}

.whiteLogo {
  color: $color-custom-white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

.link,
.link:active {
  color: $color-custom-light-grey;
}

.line3 {
  display: none;
}

@media screen and (max-width: $max-width-mobile) {
  .table {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 33px;
    padding: 0;
  }
  .line1 {
    flex-direction: column;
    padding: 0;
    margin: 30px 0 30px 30px;
    border-bottom: 0;
  }
  .line2 {
    margin: 30px 30px 30px 0;
  }
  .rights {
    display: none;
  }
  .whiteLogo {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .wavesWhite {
    width: 44px;
    height: 44px;
  }
  .line3 {
    width: 100%;
    margin: 0 30px 30px 30px;
    justify-content: center;
    border-top: 1.5px solid $color-custom-light-grey;
    padding-top: 30px;
    color: $color-custom-dark-grey;
    display: flex;
    font-size: 14px;
  }
  .link {
    font-size: 15px;
  }
}
