@use "../../../variables" as *;

.right {
  display: flex;
  gap: 2vw;
  height: auto;
}

.containerBigPic {
  position: relative;
  height: auto;
  display: flex;
  align-items: start;
  align-self: start;

  .bigPic {
    position: relative;
    z-index: 1;
    padding-top: 1vh;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 84%;
    background: url("@/Pictures/Rectangle3.png") no-repeat center/cover;
    filter: blur(45px);
    z-index: 0;
  }
}

@media screen and (max-width: $max-width-mobile) {
  .bigPic {
    width: 208px;
  }
}

.smlPics {
  display: flex;
  flex-direction: column;
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  max-height: 185px;
}

@media screen and (max-width: $max-width-mobile) {
  .row {
    max-height: 90px;
  }
}

.arrow {
  rotate: -7deg;
  width: 40%;
  align-self: center;
}
@media screen and (max-width: $max-width-mobile) {
  .arrow {
    width: 50%;
  }
}

.dots {
}

@media screen and (max-width: $max-width-mobile) {
  .dots {
    width: 55px;
  }
}

.containerDots {
  position: relative;
  overflow: hidden;
  height: auto;
}

.containerSmlPic {
  position: relative;
  display: flex;
  z-index: 1;

  .pic {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background: url("@/Pictures/Rectangle3Small.png") no-repeat center/cover;
    filter: blur(36px);
    z-index: 0;
  }
}

@media screen and (max-width: $max-width-mobile) {
  .containerSmlPic {
    width: 116px;
    height: 172px;
    overflow: visible;
    align-self: end;
  }

  .pic {
    width: 136%;
    height: auto;
    object-fit: cover;
  }
}
