@use "../../../variables" as *;

.box {
  display: flex;
  align-items: center;
  gap: 70px;
  color: #606060;
}

.link:active,
.link:hover,
.link {
  text-decoration: none;
  font-size: 18px;
  color: #606060;
}

@media screen and (max-width: $max-width-mobile) {
  .box {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  .link {
    font-size: 15px;
  }
}
