.box {
  display: grid;
  place-items: center end;
  grid-template-columns: repeat(4, auto);
  gap: 70px;
  color: #606060;
}

.link:active,
.link:hover,
.link {
  text-decoration: none;
  color: #606060;
}
