@use "src/variables" as *;

.button1:active,
.button1:hover,
.button1 {
  border-radius: 12px;
  background: black;
  color: white;
  max-height: 57px;
  height: 57px;
  letter-spacing: 1px;
  text-decoration: none;
}
@media screen and (max-width: $max-width-mobile) {
  .button1:active,
  .button1:hover,
  .button1 {
    font-size: 12px;
    max-height: 41px;
  }
}
