.button1:active,
.button1:hover,
.button1 {
  border-radius: 12px;
  background: black;
  color: white;
  max-height: 57px;
  height: 57px;
  letter-spacing: 1px;
  text-decoration: none;
}
.button2:active,
.button2:hover,
.button2{
  border-radius: 12px;
  border: 1.5px solid black;
  max-height: 57px;
  height: 57px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 375px)
{
  .button1:active,
  .button1:hover,
  .button1 {
    font-size: 12px;
    max-height: 41px;
  }
  .button2:active,
  .button2:hover,
  .button2{
    font-size: 12px;
    max-height: 41px;
  }
}