.headerMobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px;
  border-bottom: 1px solid #cbcbcb;
  align-items: center;
  padding-bottom: 30px;
}

.leftHeaderMobile {
  display: flex;
  align-items: center;
}

.rightHeaderMobile {
  display: flex;
  justify-content: flex-end;
}
