@import "src/variables";
.line {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: $max-width-mobile) {
  .line {
    gap: 35px;
    display: flex;
    flex-direction: column;
  }
}
