@use "../../../variables" as *;

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  margin: 55px 50px 130px 50px;
  padding: 60px;
  border-radius: 25px;
  box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1);
}

.authorAndOwner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nameAndDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 39%;
}

.cardName {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.picContainer {
  display: flex;
  width: 564px;
  height: 560px;
}

.picContainer img {
  border-radius: 55px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleName {
  color: #292b39;
  font-weight: 600;
  font-size: 50px;
  line-height: 32px;
  width: 100%;
}

.description {
  width: 430px;
  color: #888;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  font-family: Poppins, sans-serif;
}

.author {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.authorImgContainer {
  border-radius: 50%;
  width: 66px;
  height: 66px;
}

.grayText {
  color: #8d8d8d;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.grayTextEnd {
  display: flex;
  color: #8d8d8d;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  justify-content: end;
}

.blackText {
  color: #000;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
}

.blackTextBold {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
  font-size: 33px;
  line-height: 49px;
  gap: 7px;
}

.blackTextLight {
  color: #000;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.lineInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ethereumImg {
  height: 36px;
}

.bid {
  display: flex;
}

.buttonBid {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  gap: 10px;
  width: 100%;
  height: 79px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  font-family: Poppins, sans-serif;
}
.buttonBid:hover{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: $max-width-mobile) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    padding: 15px;
    width: 286px;
  }

  .picContainer
  {
    width: 284px;
    height: 284px;
  }

  .picContainer img {
    border-radius: 30px;
  }

  .nameAndDescription {
    width: 100%;
    flex-direction: column;
  }
  .authorAndOwner {
    width: 100%;
    height: 65px;
  }

  .titleName {
    margin-top: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
  }

  .cardName {
    gap: 6px;
  }

  .description {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
  }
  .authorImgContainer {
    width: auto;
    height: auto;
    margin-bottom: 43px;
  }
  .authorImgContainer img {
    width: 37px;
    height: 37px;
  }
  .grayText {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .blackText {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
  }
  .grayTextEnd {
    font-size: 13px;
  }
  .author {
    flex-direction: row;
    height: auto;
  }

  .blackTextBold {
    font-size: 20px;
    line-height: 29px;
  }
  .blackTextLight {
    font-size: 12px;
    line-height: 18px;
  }
  .info {
    justify-content: center;
  }
  .lineInfo {
    margin-bottom: 30px;
  }

  .buttonBid {
    width: 100%;
    height: 60px;
    font-size: 16px;
  }
  .ethereumImg {
    height: 15px;
  }
}
