@use "src/variables" as *;

.blur {
  position: relative;
  filter: blur(20px);
  pointer-events: none;
}

.noBlur {
  position: relative;
}

.title {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #23262f;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 31px;
  line-height: 28px;
  margin: 0 50px;
}

.title img {
  cursor: pointer;
}

.itemsTable {
  margin: 0 50px 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fromCreatorTitle {
  display: flex;
  margin: 0 50px 50px 50px;
  font-size: 31px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  color: #c3c3c3;
}
@media screen and (max-width: $max-width-mobile) {
  .title {
    display: none;
  }
  .noBlur {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fromCreatorTitle {
    display: flex;
    justify-content: center;
  }
  .itemsTable {
    flex-direction: column;
    gap: 40px;
  }
}
