.table {
  font-family: Poppins, sans-serif;
  display: grid;
  text-align: end;
  row-gap: 2vh;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "title"
    "line";
}
.items {
  display: grid;
  grid-template-rows: repeat(4, 10vh);
}

.explore {
  display: grid;
  justify-content: end;
  color: #acadb9;
}

.line {
  display: grid;
  grid-area: line;
}
