.footerMobile {
  display: flex;
  flex-direction: column;
  padding: 52px 30px 36px;
  background: #141416;
  color: #b9b9b9;
  gap: 20px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  color: #fff;
}

.footerMid {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 19px;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #818181;
}

.footerBot {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 19px;
}

.logoMobile {
  width: 44px;
  height: auto;
}

.logoAndName {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.socialsItem {
  max-height: 16px;
}
