@use "../../../variables.module" as *;
@use "src/colors.module" as *;

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 150px;
}

@media screen and (max-width: $max-width-mobile) {

}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

@media screen and (max-width: $max-width-mobile) {

}

.heroInfo {
  font-family: Poppins, sans-serif;
  font-size: 75px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -3px;
  text-align: left;
  color: $color-custom-black;
}


.heroContext {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  color: $color-custom-dark-grey;
}

.buttonGap {
  display: flex;
  gap: 10px;
}

.black {
  color: $color-custom-black;
}

.trustPilot {
  display: none;
}

.bottom {
  display: flex;
  gap: 65px;
}

@media screen and (max-width: $max-width-mobile) {
  .left {
    margin-right: 30px;
  }
  .heroText {
    gap: 20px;
  }
  .heroInfo {
    font-size: 47px;
    line-height: 57px;
    letter-spacing: -2px;
    text-align: center;
  }
  .heroContext {
    font-size: 11.8px;
    line-height: 18px;
    text-align: center;
  }
  .buttonGap {
    justify-content: center;
  }
  .trustPilot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 25px;
  }

  .position {
    display: flex;
  }

  .imgPosition {
    align-self: end;
  }

  .stars {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .bottom {
    display: none;
  }
}
