.tableLine {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 7px 0;
}

.picAndName {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.linePic {
  display: flex;
  width: 60px;
}

.bigContainer {
  display: flex;
  align-self: center;
}

.previewPic {
  max-width: 44.5px;
  height: auto;
}
.smallContainer {
  background: white;
  position: absolute;
  align-self: end;
  width: 21px;
  height: 21px;
  display: flex;
  left: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
}

.nameAndAuthor {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 500;
}

.author {
  font-size: 13px;
  color: #64748b;
}

.EthereumMobile {
  max-height: 17px;
}

.green {
  color: #10c352;
}

.red {
  color: red;
}
