.item {
  display: flex;
  flex-direction: row;
}
.authorAndOwner {
  display: flex;
  flex-direction: row;
}
.nameAndDescription{
  display: flex;
  flex-direction: column;
}
.name {
  display: flex;
  flex-direction: column;
}