.header {
  text-align: center;
  color: black;
  font-size: 45px;
  margin-bottom: 80px;
  font-weight: 500;
}

.title {
  display: grid;
  grid-template-columns: 4fr repeat(5, 3fr);
  color: #93989a;
}

.collection {
  display: grid;
  text-align: start;
}
