.table {
  background: #141416;
  width: 1440px;
  color: #b9b9b9;
  display: grid;
  grid-template: "line1 line1" 1fr "line2 line2" 1fr / 1fr 1fr;
  justify-items: center;
}

.line1 {
  grid-area: line1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  width: 1340px;
  margin: 0 auto;
  border-bottom: 1px solid #818181;
}

.line2 {
  grid-area: line2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  width: 1340px;
  padding: 57px 0;
  border-top: 1px solid #818181;
  margin: 0 auto;
}

.rights {
  font-size: 17px;
  width: 286px;
}

.whiteLogo {
  color: white;
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 30px;
}

.appWrapper {
  width: 1440px;
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr;
}

.link:active {
  color: black;
}
