@use "src/variables" as *;

.optionMobile {
  display: none;
}
.optionsContainer {
  display: none;
}
@media screen and (max-width: $max-width-mobile) {
  .optionMobile {
    display: flex;
    cursor: pointer;
    justify-self: flex-end;
  }
  .optionsContainer {
    display: grid;
    grid-area: options;
    gap: 15px;
    margin-top: 20px;
    justify-items: end;
  }
}

.itemBlack:active,
.itemBlack:hover,
.itemBlack {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.itemGray:active,
.itemGray:hover,
.itemGray {
  text-decoration: none;
  color: #606060;
  cursor: pointer;
}
