@use "src/variables" as *;

.link:active,
.link:hover,
.link {
  text-decoration: none;
  color: #acadb9;
}

.explore {
  margin: 80px 70px;
  display: flex;
  justify-content: flex-end;
  color: #acadb9;
}

@media screen and (max-width: $max-width-mobile) {
  .explore {
    justify-content: center;
  }
}
