.Common {
  display: grid;
  width: 9vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  .Left {
    color: #929292;
    background: #FCFCFD;
    border-radius: 17px 0 0 17px;
    border-right: solid 0.5px black;
  }

  .Right {
    color: #23262F;
    background: #FCFCFD;
    border-radius: 0 17px 17px 0;
    border-left: 0.5px solid black;
  }
}