@import "src/variables";

.boxSearch {
  width: 350px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 4vw auto;
  align-items: center;
  justify-self: end;
  height: 57px;
  background: #ededed;
}

@media screen and (max-width: $max-width-mobile) {
  .boxSearch {
    display: none;
  }
}

.searchArea {
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  resize: none;
  background: none;
  align-content: center;
  outline: none;
}
