@use "src/variables" as *;

.bidContent {
  display: flex;
  justify-content: center;
}

.bidCardContainer {
  box-sizing: border-box;
  width: 440px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 21px;
  padding: 40px 20px;
  gap: 30px;
}

@media screen and (max-width: $max-width-mobile) {
  .bidCardContainer {
    width: 310px;
  }
}

.bidDate {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.title {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  color: black;
}

@media screen and (max-width: $max-width-mobile) {
  .title {
    font-size: 15px;
    line-height: 21px;
  }
}

.dateNow {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #888888;
}

@media screen and (max-width: $max-width-mobile) {
  .dateNow {
    font-size: 11px;
    line-height: 13px;
  }
}
.buttonsArea {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.label {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  color: black;
}

@media screen and (max-width: $max-width-mobile) {
  .label {
    font-size: 14px;
    line-height: 21px;
  }
}

.bidLine {
  display: flex;
  flex-direction: row;
  height: 70px;
}

@media screen and (max-width: $max-width-mobile) {
  .bidLine {
    height: 50px;
  }
}

.selectorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  border-radius: 18px 0 0 18px;
  border: 1px solid black;
  box-sizing: border-box;
  width: 160px;
}
@media screen and (max-width: $max-width-mobile) {
  .selectorContainer {
    width: 110px;
  }
}

.selector {
  font-family: Poppins, "sans-serif";
  font-size: 20px;
  color: white;
  background: black;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: $max-width-mobile) {
  .selector {
    font-size: 15px;
  }
}
.input {
  color: black;
  background: white;
  border-radius: 0 18px 18px 0;
  border: 1px solid black;
  font-family: Poppins, "sans-serif";
  font-size: 20px;
  box-sizing: border-box;
  padding-left: 10px;
}
.input:focus {
  outline: none;
  border: 1px solid black;
}

@media screen and (max-width: $max-width-mobile) {
  .input {
    width: 166px;
    font-size: 15px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  background: black;
  color: white;
  border-radius: 18px;
  height: 70px;
  font-size: 18px;
  font-family: Poppins, "sans-serif";
}

@media screen and (max-width: $max-width-mobile) {
  .button {
    height: 50px;
    font-size: 12px;
    gap: 7px;
  }
  .button img {
    height: 15px;
  }
}

.line {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  background: white;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px 18px 18px;
}
.line:hover {
  box-shadow: -6px 12px 20px 0px #10101026;
}
@media screen and (max-width: $max-width-mobile) {
  .line {
    padding: 12px 35px 12px 12px;
  }
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: $max-width-mobile) {
  .left {
    gap: 9px;
  }
}

.logoContainer {
  position: relative;
}

.logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: black;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: $max-width-mobile) {
  .logo {
    width: 45px;
    height: 45px;
  }
}

.verification {
  position: absolute;
  top: 0;
  right: 0;
}
.verification img {
  width: 17px;
  height: 17px;
  background: white;
  border-radius: 50%;
  padding: 1px;
}

@media screen and (max-width: $max-width-mobile) {
  .verification img {
    width: 13px;
    height: 13px;
  }
}

.name {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: black;
}

@media screen and (max-width: $max-width-mobile) {
  .name {
    font-size: 13px;
    line-height: 18px;
  }
}

.date {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #9c9c9c;
}

@media screen and (max-width: $max-width-mobile) {
  .date {
    font-size: 11px;
    line-height: 13px;
  }
}

.priceLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.priceLine img {
  height: 22px;
}

@media screen and (max-width: $max-width-mobile) {
  .priceLine img {
    height: 15px;
  }
}

.price {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: black;
}

@media screen and (max-width: $max-width-mobile) {
  .price {
    font-size: 15px;
    line-height: 21px;
  }
}
.list {
  border-radius: 12px;
}
.list::-webkit-scrollbar {
  display: none;
}
