@use "../../../variables.module" as *;
@use "src/colors.module" as *;

.line {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border: 1px solid $color-custom-black;
  background: $color-custom-white;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  padding: 18px 50px 18px 18px;
  width: 97%;

  &:hover {
    box-shadow: -2px 5px 5px 0px $color-custom-light-grey;
  }
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.logoContainer {
  position: relative;
}

.logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: $color-custom-black;
  overflow: hidden;

  .logoImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.verification {
  position: absolute;
  top: 0;
  right: 0;

  .verificationImg {
    width: 17px;
    height: 17px;
    background: $color-custom-white;
    border-radius: 50%;
    padding: 1px;
  }
}

.name {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: $color-custom-black;
}

.date {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: $color-custom-light-grey;
}

.priceLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .priceLineImg {
    height: 22px;
  }
}

.price {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: $color-custom-black;
}

@media screen and (max-width: $max-width-mobile) {
  .line {
    padding: 12px 35px 12px 12px;
  }
  .left {
    gap: 9px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .name {
    font-size: 13px;
    line-height: 18px;
  }
  .date {
    font-size: 11px;
    line-height: 13px;
  }
  .verification {
    .verificationImg {
      width: 13px;
      height: 13px;
    }
  }

  .price {
    font-size: 15px;
    line-height: 21px;

    .priceLineImg {
      height: 15px;
    }
  }
}
