@use "src/colors.module" as *;

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-custom-black;
  background: $color-white;
  border-radius: 23px;
  width: fit-content;
  cursor: pointer;
  box-shadow: 19px 12px 15px rgba(0, 0, 0, 0.1);
  &:hover{
    border: 1px solid $color-custom-black;
    border-radius: 30px;
  }
}

.cardContainer {
  padding: 15px;
  width: 254px;
}

.img {
  grid-area: img;
  justify-self: center;
  width: 254px;
  max-height: 254px;
  border-radius: 19px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 0 15px 21px;
}

.name {
  grid-area: name;
  color: $color-custom-black;
  font-weight: 600;
  font-size: 20px;
}

.lineInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  grid-area: info;
  color: $color-custom-light-grey;
  font-size: 14px;
}

.priceLine {
  display: flex;
  align-items: center;
}

.bid {
  grid-area: bid;
  font-size: 14px;
}

.buttonBid {
  height: 50%;
  color: $color-custom-white;
  background: $color-custom-black;
}
