@import "src/variables";

.table {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
  color: #141416;
  font-size: 45px;
  font-family: Poppins, sans-serif;
  line-height: 27px;
  font-weight: 500;
}

@media screen and (max-width: $max-width-mobile) {
  .text {
    font-size: 30px;
    line-height: 38px;
  }
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.5vw;
  justify-content: center;
  padding-bottom: 75px;

  .centerLocation {
    display: flex;
    justify-content: center;
  }

  .buttonBorder {
    border: 2px solid black;
    border-radius: 14px;
  }

  @media screen and (max-width: $max-width-mobile) {
    .buttonBorder {
      height: 37px;
    }
  }
}

@media screen and (max-width: $max-width-mobile) {
  .imgMobile {
    max-width: 13.5px;
    height: auto;
  }
}

.buttonAlign {
  display: flex;
  align-items: center;
}

@media screen and (max-width: $max-width-mobile) {
  .buttonAlign {
    font-size: 10px;
  }
}
