.line {
  display: grid;
  grid-template-columns: 4fr repeat(5, 3fr);
  align-items: center;
  border-bottom: 1px solid #ebe9e9;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.name {
  display: grid;
  text-align: start;
  grid-template: "pic name" 1fr "pic author" 1fr / 1fr 2fr;
  align-items: center;
}

.nameCard {
  grid-area: name;
  font-weight: bold;
}

.pic {
  display: grid;
  place-items: center center;
  grid-area: pic;
}

.author {
  grid-area: author;
}

.value {
  display: flex;
  justify-content: flex-end;
}

.green {
  color: #10c352;
}

.red {
  color: red;
}
