@use "../../variables" as *;

.headerBack {
  margin: 45px 60px;
  display: grid;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  color: #606060;
}
@media screen and (max-width: $max-width-mobile) {
  .box {
    border-bottom: 1px solid #cbcbcb;
  }
  .headerBack {
    margin: 30px;
  }
}

.logoMobile {
  display: flex;
  align-items: center;
  color: black;
  font-size: 22px;
  font-weight: 600;
}
@media screen and (max-width: $max-width-mobile) {
  .imgMobile {
    width: 46px;
    height: 46px;
  }
}

.name {
  display: none;
}
@media screen and (max-width: $max-width-mobile) {
  .name {
    display: flex;
  }
}

.boxWallet:active,
.boxWallet:hover,
.boxWallet {
  width: 200px;
  height: 57px;
  color: #fff;
  background: #141416;
  border-radius: 16px;
  text-decoration: none;
}
.optionMobile {
  display: none;
}
@media screen and (max-width: $max-width-mobile) {
  .optionMobile {
    display: flex;
  }
}
@media screen and (max-width: $max-width-mobile) {
  .boxWallet {
    display: none;
  }
}
