$color-custom-white: #F9F9F9;
$color-white: #FFFFFF;
$color-custom-grey-background: #EDEDED;
$color-custom-black: #141416;
$color-custom-dark-grey: #606060;
$color-custom-light-grey: #888888;
$color-custom-green: #10C352;
$color-custom-red: #E23333;
