@import "src/variables";

.mobileWrapper {
  width: 100%;
}

.background {
  display: grid;
  background: #f9f9f9;
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: $max-width-mobile) {
  .background {
    max-width: 100%;
  }
}
