@import "src/variables";

.headerBack {
  margin-top: 45px;
  margin-bottom: 45px;
  display: grid;
}

.box {
  display: grid;
  place-items: center center;
  margin-bottom: 100px;
  grid-template-columns: repeat(4, auto);
  color: #606060;
}

.boxWallet:active,
.boxWallet:hover,
.boxWallet {
  width: 200px;
  height: 57px;
  color: #fff;
  background: #141416;
  border-radius: 16px;
  text-decoration: none;
}

@media screen and (max-width: $max-width-mobile) {
  .boxWallet {
    display: none;
  }
}
